$utilities: () !default;

$utilities: map-merge(
    $utilities,
    (
        "background-gradient": (
            property: background,
            class: bg-gradient,
            values: (
                primary: linear-gradient(to top left, $primary, $primary-dark),
                secondary: linear-gradient(to top left, $secondary, $secondary-dark),
                tertiary: linear-gradient(to top left, $tertiary, $tertiary-dark),
                primarylight: linear-gradient(to top left, $primary-light, $primary),
                secondaryLight: linear-gradient(to top left, $light, $secondary-light),
                tertiaryLight: linear-gradient(to top left, $tertiary-light, $tertiary),
                primaryFull: linear-gradient(to top left, $primary-light, $primary, $primary-dark),
                secondaryFull: linear-gradient(to top left, $secondary-light, $secondary, $secondary-dark),
                tertiaryFull: linear-gradient (to top left, $tertiary-light, $tertiary, $tertiary-dark),
            )
        ),

        "background": (
            property: background,
            class: bg,
            values: map-merge($theme-colors, (
                none: none,
            ))
        ),

        "color": (
            property: color,
            class: text,
            local-vars: (
                "text-opacity": 1
            ),
            values: (
                primary: $primary,
                secondary: $secondary,
                tertiary: $tertiary,
                dark: $dark,
                light: $light,
            )

        ),

        "box-shadow": (
            property: box-shadow,
            class: bs,
            values: (
                primary: 3px 3px 8px $primary,
                secondary: 3px 3px 8px $secondary,
                tertiary: 3px 3px 8px $tertiary,
                dark: 3px 3px 8px $dark,
                primaryLight: 3px 3px 8px $primary-light,
                primaryDark: 3px 3px 8px $primary-dark,
                secondaryLight: 3px 3px 8px $secondary-light,
                secondaryDark: 3px 3px 8px $secondary-dark,
                tertiaryLight: 3px 3px 8px $tertiary-light,
                tertiaryDark: 3px 3px 8px $tertiary-dark,
            )
        ),
        "font-size": (
            responsive: true,
            property: font-size,
            class: fs,
            values: $font-sizes
        ),

        // Padding utilities
        "padding": (
            responsive: true,
            property: padding,
            class: p,
            values: $spacers
        ),
        "padding-x": (
            responsive: true,
            property: padding-right padding-left,
            class: px,
            values: $spacers
        ),
        "padding-y": (
            responsive: true,
            property: padding-top padding-bottom,
            class: py,
            values: $spacers
        ),
        "padding-top": (
            responsive: true,
            property: padding-top,
            class: pt,
            values: $spacers
        ),
        "padding-end": (
            responsive: true,
            property: padding-right,
            class: pe,
            values: $spacers
        ),
        "padding-bottom": (
            responsive: true,
            property: padding-bottom,
            class: pb,
            values: $spacers
        ),
        "padding-start": (
            responsive: true,
            property: padding-left,
            class: ps,
            values: $spacers
        ),

        // Margin utilities
        "margin": (
            responsive: true,
            property: margin,
            class: m,
            values: map-merge($spacers, (auto: auto))
        ),
        "margin-x": (
            responsive: true,
            property: margin-right margin-left,
            class: mx,
            values: map-merge($spacers, (auto: auto))
        ),
        "margin-y": (
            responsive: true,
            property: margin-top margin-bottom,
            class: my,
            values: map-merge($spacers, (auto: auto))
        ),
        "margin-top": (
            responsive: true,
            property: margin-top,
            class: mt,
            values: map-merge($spacers, (auto: auto))
        ),
        "margin-end": (
            responsive: true,
            property: margin-right,
            class: me,
            values: map-merge($spacers, (auto: auto))
        ),
        "margin-bottom": (
            responsive: true,
            property: margin-bottom,
            class: mb,
            values: map-merge($spacers, (auto: auto))
        ),
        "margin-start": (
            responsive: true,
            property: margin-left,
            class: ms,
            values: map-merge($spacers, (auto: auto))
        ),

        // Sizing utilities
        // scss-docs-start utils-sizing
        "width": (
            responsive: true,
            property: width,
            class: w,
            values: map-merge($spacers, (
                25: 25%,
                30: 30%,
                40: 40%,
                45: 45%,
                50: 50%,
                60: 60%,
                75: 75%,
                80: 80%,
                90: 90%,
                100: 100%,
                auto: auto,
                content: fit-content,)
            )
        ),
        "max-width": (
            responsive: true,
            property: max-width,
            class: mw,
            values: map-merge($spacers, (
                25: 25%,
                30: 30%,
                40: 40%,
                50: 50%,
                60: 60%,
                75: 75%,
                80: 80%,
                90: 90%,
                100: 100%,
                auto: auto)
            )
        ),
        "viewport-width": (
            responsive: true,
            property: width,
            class: vw,
            values: (100: 100vw)
        ),
        "min-viewport-width": (
            responsive: true,
            property: min-width,
            class: min-vw,
            values: map-merge($spacers, (
                25: 25%,
                30: 30%,
                40: 40%,
                50: 50%,
                60: 60%,
                75: 75%,
                80: 80%,
                90: 90%,
                100: 100%,
                auto: auto,
                inherit: inherit,
                content: fit-content,)
            )
        ),
        "height": (
            responsive: true,
            property: height,
            class: h,
            values: map-merge($spacers, (
                25: 25%,
                30: 30%,
                40: 40%,
                50: 50%,
                60: 60%,
                75: 75%,
                80: 80%,
                90: 90%,
                100: 100%,
                auto: auto,
                inherit: inherit,
                content: fit-content,)
            )
        ),
        "max-height": (
            responsive: true,
            property: max-height,
            class: mh,
            values: map-merge($spacers, (
                25: 25%,
                30: 30%,
                40: 40%,
                50: 50%,
                60: 60%,
                75: 75%,
                80: 80%,
                90: 90%,
                100: 100%,
                auto: auto)
            )
        ),
        "viewport-height": (
            responsive: true,
            property: height,
            class: vh,
            values: (100: 100vh)
        ),
        "min-viewport-height": (
            responsive: true,
            property: min-height,
            class: min-vh,
            values: map-merge($spacers, (
                25: 25%,
                30: 30%,
                40: 40%,
                50: 50%,
                60: 60%,
                75: 75%,
                80: 80%,
                90: 90%,
                100: 100%,
                auto: auto,
                inherit: inherit,
                content: fit-content,)
            )
        ),

        "border-color": (
            property: border-color,
            class: border,
            local-vars: (
                "border-opacity": 1
            ),
            values: (
                primary: $primary,
                secondary: $secondary,
                tertiary: $tertiary,
                primaryLight: $primary-light,
                primaryDark: $primary-dark,
                secondaryLight: $secondary-light,
                secondaryDark : $secondary-dark,
                tertiaryLight: $tertiary-light,
                tertiaryDark: $tertiary-dark,
                dark: $dark,
            )
        ),

        
    )
)